<ul>
	<li>
		<mat-form-field>
	      Max Game Score <input type="number" matInput name="maxScore" [(ngModel)]="settings.maxGameScore"  placeholder="Score">
	    </mat-form-field>
	</li>	
</ul>
<button mat-button [routerLink]="['']">Cancel</button>
<button mat-button (click)="saveSettings()">Save</button>