<form #form="ngForm">
  <h2 mat-dialog-title>Are you sure?</h2>
  <mat-dialog-content>
    Are you sure you want to discard this game and gamescores?
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-button [mat-dialog-close]="true" (click)="startNewGame()">Yes</button>
  </mat-dialog-actions>
  </form>