<form #form="ngForm">
<h2 mat-dialog-title>New Round Scores</h2>
<mat-dialog-content>
	Enter the player scores
	<ol>
	  <li *ngFor="let player of myRoundScores">
	    <mat-form-field>
	      {{player.playerName}} 
	      <input type="number" matInput name="score" [(ngModel)]="player.playerScore"
	      [readonly]="!player.playerStatus">
	    </mat-form-field>
	  </li>
	</ol>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true" (click)="addNewScore()">Save</button>
</mat-dialog-actions>
</form>