<form #form="ngForm">
<h2 mat-dialog-title>Edit Scores</h2>
<mat-dialog-content>
	<ol>
	  <li *ngFor="let scores of editRound.scores;let ix=index;">
	    <mat-form-field>
	      {{scores.playerName}} <input type="number" matInput name="score{{ix}}" [(ngModel)]="scores.playerScore"  placeholder="Score">
	    </mat-form-field>
	  </li>
	</ol>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true" (click)="saveScore()">Save</button>
</mat-dialog-actions>
</form>