.scoretable {
	width: 96%;
	border-spacing: 0;
	margin: 10px 2%;
}
.scoretable th {
	background: #bbbbbb;
	padding: 10px 5px;
	text-align: center;
}
.scoretable th .player.out{
	color: red;
	text-decoration: line-through;
}
.scoretable th .drops {
	color: grey;
}
.scoretable th .drops mat-icon.mat-icon.material-icons{
	color: green;
	font-size: 15px;
    position: absolute;
    margin-left: 5px;
}
.scoretable .round-colhead {
	width: 60px;
}
.scoretable td {
	padding: 10px 5px;
	border-bottom: 1px solid #c6c6c6;
}

.scoretable td.round-score {
	text-align: center;
}

.scoretable td.edit a{
	float: right;
}