<table *ngIf="scoreTableService.gameRoom.gameStarted" class="scoretable">
	<tr class="headrow">
		<th class="round-colhead">Round #</th>
		<th *ngFor="let player of scoreTableService.gameRoom.players">
			<span [ngClass]="player.playerStatus?'player':'player out'">{{player.playerName}}</span><br>
			<span class="drops" *ngIf="player.playerRemainingDrops >= 0"><mat-icon>favorite</mat-icon>{{player.playerRemainingDrops}}</span>
		</th>
		<th></th>
	</tr>
	<tr *ngFor="let round of scoreTableService.gameRoom.rounds; let ix=index;">
		<td>{{round.id}}</td>
		<td *ngFor="let score of round.scores" class="round-score">
			{{score.playerScore}}
		</td>
		<td class="edit"><a (click)="editRoundScore(round)"><mat-icon>mode_edit</mat-icon></a></td>
	</tr>
	<tr>
		<td>Total</td>
		<td *ngFor="let player of scoreTableService.gameRoom.players" class="round-score">
			{{player.playerTotalScore}}
		</td>
		<td></td>
	</tr>
</table>

<button  mat-fab class="mdc-fab material-icons mat-accent primary-actionbtn" aria-label="Add" (click)="showNewScoresPopup()"  *ngIf="scoreTableService.gameRoom.gameStarted">
  <mat-icon>
    playlist_add
  </mat-icon>
</button>
<mat-card *ngIf="!scoreTableService.gameRoom.gameStarted">
	Looks like you have not added any players yet.
	Add some players to start the game.
</mat-card>
<button  mat-fab class="mdc-fab material-icons mat-accent primary-actionbtn" routerLink="/players" aria-label="Add"  *ngIf="!scoreTableService.gameRoom.gameStarted">
  <mat-icon>
    person_add
  </mat-icon>
</button>