<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav (click)="sidenav.toggle()">
    <mat-nav-list>
      <a mat-list-item routerLink="/scoreboard">
        <mat-icon mat-list-icon>content_paste</mat-icon>
        <span mat-line>Score Table</span>
      </a>
      <a mat-list-item routerLink="/players">
        <mat-icon mat-list-icon>person</mat-icon>
        <span mat-line>Players</span>
      </a>
      <a mat-list-item routerLink="/settings">
        <mat-icon mat-list-icon>build</mat-icon>
        <span mat-line>Game Settings</span>
      </a>
      <a mat-list-item (click)="confirmNewGame()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span mat-line>New Game</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>RummyNote</span>
    </mat-toolbar>

    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>