<h2 mat-dialog-title>New Player</h2>
<mat-dialog-content>
	Enter the player details
	<ol>
	  <li>
	    <mat-form-field>
	      <input matInput #playerName placeholder="Player Name">
	    </mat-form-field>
	  </li>
	</ol>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="addNewPlayer(playerName.value)" [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>