<mat-list class="players">
  <mat-list-item *ngFor="let player of players">
    <mat-icon>person</mat-icon>
    <h3 matLine>  {{player.playerName}} </h3>
  </mat-list-item>
</mat-list>

<button  mat-fab class="mdc-fab material-icons mat-accent primary-actionbtn" (click)="showNewPlayerPopup()" aria-label="Add">
  <mat-icon>
    person_add
  </mat-icon>
</button>

<div style="display: flex;justify-content: center" *ngIf="players.length > 0" routerLink="/scoreboard"><button mat-raised-button color="primary">Show Scores</button></div>