/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
	font-family: Arial;
}
.primary-actionbtn {
	position: fixed !important;
    bottom: 20px;
    right: 20px;
}